# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Makefile
*.pro.user*
Alg-1-3_2/Alg-3/Alg-3
Alg-1-3_7/Alg-3_7
Alg-1-6_1/Alg-6_1
Alg-1-3_3/Tech-3_3
Alg-1-6_1/main.cpp.autosave